.info-card {
    color: black;
    box-shadow: 0 0 1em darkslategray;
    padding: 2em;
    margin: 30px;
    background-color: #42A5A2;
    transition: transform 0.2s, box-shadow 0.2s; /* Added transition */
}

.info-card:hover {
    box-shadow: 0 0 2em darkslategray; /* Increased shadow on hover */
    transform: scale(1.02); /* Slight scale effect */
}

.bins-img, .maps-img {
    max-width: 100%; /* Scale images to fit the container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Prevent extra space below images */
    margin: 0 auto;  /* Center images if needed */
}

@media screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        margin: auto;
    }
}