.custom-header {
  background-color: #42A5A2;
  border-bottom: 1px solid #c8e6c9;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  max-height: 60px;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: #ade3ae;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}


@media (max-width: 768px) {

  .logo {
    max-height: 60px;
  }
}